.loginsignup{
    width: 100%;
    background-color: #fce3fe;
    padding: 80px;
    /* height: 80vh; */
}

.loginsignupContainer{
    width: 580px;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
    
}

.loginsignupContainer h1{
    margin:  20px 0 ;

}

.loginsignup-inputfields{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-direction: column;

}
.loginsignup-inputfields input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;

}

.loginsignupContainer button{
    height: 50px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.haveAccount{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.haveAccount span{
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}